<h1>Exitoso</h1>
<p>Tu pago ha sido exitoso</p>
<pre>
collection_id: {{collection_id}}
collection_status: {{collection_status}}
external_reference: {{external_reference}}
payment_type: {{payment_type}}
merchant_order_id: {{merchant_order_id}}
</pre>